#Divider 
{
    width: 85%;
    text-align: center;
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: #3D3D3D;
    border-radius: 7px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    transition: var(--standart-transition);
}
#Divider:hover
{
    width: 85%;
    text-align: center;
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: #3D3D3D;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    transition: var(--standart-transition);
}
.WeekDay 
{
    width: 100%;
    text-align: center;
    align-content: center;
    color: white;
    background-color: #3D3D3D;
    height: 35px;
    font-size: 25px;
    border-radius: 7px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
#Container
{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    min-height: 100vh;
    outline: 0px solid green;
}
#Table
{
    justify-content: center;
    gap: 50px;
    width: 85%;
    outline: 0px solid red;
}
.Day {
    display: flex;
    flex-direction: column;
    gap: 15px;
    outline-style: solid;
    outline-width: 0px;
    outline-color: black;
}
/* ---------------------------------------------------------- */
/*
#   Описание базового класса занятия
*/
/* ---------------------------------------------------------- */
.Lesson {
    width: 100%;
    height: 180px;
    border-color: rgb(14, 13, 13);
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    background-color: #3D3D3D;
    transition: 0.3s ease-in-out;
    display: grid;
    grid-template-rows: 15% auto 15%;
    outline-style: solid;
    outline-width: 0px;
    outline-color: blue;
}
.Lesson:hover {
    width: 100%;
    height: 220px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    background-color: #3D3D3D;
    transition: 0.3s ease-in-out;
    display: grid;
    grid-template-rows: 15% auto 15%;
    row-gap: 0px;
    outline-style: solid;
    outline-width: 0px;
    outline-color: blue;
}
/* ---------------------------------------------------------- */
/*
#   Описание всех элементов класса урока (Верх)
*/
/* ---------------------------------------------------------- */
.upper {
    display: grid;
    grid-template-columns: 20% auto;
    outline-style: solid;
    outline-width: 0px;
    outline-color: red;
    width: 100%;
    align-items: center;
    background-color: #494949;
}
.upper div {
    text-align: center;
}
.upnumber {
    color: #303030;
    background-color: #ff9d90;
    height: 100%;
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.uptime {
    color: white;
    height: 100%;
    align-content: center;
    border-color: black;
    border-width: 0px;
    border-style: solid;
    border-top-right-radius: 15px;
}
/* ---------------------------------------------------------- */
/*
#   Описание всех элементов класса урока (Середина)
*/
/* ---------------------------------------------------------- */
.middle {
    height: 100%;
    outline-style: solid;
    outline-width: 0px;
    outline-color: red;
    overflow-y: hidden;
}
.middle:hover {
    height: 100%;
    outline-style: solid;
    outline-width: 0px;
    outline-color: red;
    overflow-y: scroll;
}
.midtext {
    font-size: 25px;
    padding: 10px;
    color: rgb(195, 195, 195);
    outline-style: solid;
    outline-width: 0px;
    outline-color: red;
}
/* ---------------------------------------------------------- */
/*
#   Описание всех элементов класса урока (Низ)
*/
/* ---------------------------------------------------------- */
.bottom {
    outline-style: solid;
    outline-width: 0px;
    outline-color: red;
    height: 100%;
    display: grid;
    grid-template-columns: 70% auto;
    background-color: #494949;
}
.teachname {
    align-content: center;
    padding-left: 15px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.classnum {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #7F7F7F;
    color: white;
}
/* ---------------------------------------------------------- */